{% extends 'base.html.twig' %}
{% block title %}Adresář{% endblock %}
{% block body %}
    <h1>Adresář</h1>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
